{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-organize-imports"]
}
